body { 
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

  
#divhedaer{
    width: 100%;
    padding: auto;
    height: 70px;
   background-color: #ffffff;
}

#imghedaer{
    
    width: 50px;
padding: 10px;
margin-top: 5px;
}
#divselect {
    width: 100%;
    height: 900px;
    background-color: #0D47A1;
    color: rgb(255, 255, 255);

  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;     
    height: 100vh;          
  }
  
  #texbode {
    font-size: 18px;
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center;  
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;     
    height: 100vh;          
  }
  
  #texbode {
    font-size: 18px;
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center;  
  }

#divselect {
    width: 100%;
    height: 900px;
    background-color: #0D47A1;
    color: rgb(255, 255, 255);


}
  
#img11 , #img12 {
margin-left: 339px;
margin-top: 28px;
width: 70px;
}
 #img12 {
  color: #ffffff;
 }

#tex1{
    width: 100%;
font-size: 22px;
margin-top: -70px;
text-align: right;
margin-left: -120px;
}

hr{
    margin-top: 40px;
}
#img111{
    margin-left: 339px;
    margin-top: 28px;
    width: 50px;
    }

    #tex11{
        width: 100%;
    font-size: 22px;
    text-align: right;
    margin-left: -120px;
    margin-top: -50px;
    }

    #hr{
        height: 40px;
        width: 100%;
        background-color: #f1f1f1;
        border: 0px;
       }
       
